################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uBlox_GPS/obj
/uBlox_GPS/bin
